---
- name: TASKS | HOST_PACKAGES | Install required packages
  ansible.builtin.apt:
    name:
      - libguestfs-tools
      - jq
      - grep
      - gzip
      - python3-proxmoxer
      - python3-requests
    state: present
    update_cache: true
