---
- name: TASKS | HOST_PACKAGES | Install libguestfs-tools, jq
  apt:
    name:
      - libguestfs-tools
      - jq
      - python3-pip
      - grep
      - gzip
    state: present
    update_cache: yes

- name: TASKS | HOST_PACKAGES | Install Proxmoxer
  ansible.builtin.pip:
    name:
      - proxmoxer
      - requests
    break_system_packages: true
